:root {
  
  .frogs-body {
    max-width: 1920px;
    height: auto;
    display: grid;
    grid-auto-rows: fit-content(0em);
    place-items: center;
  }

  .frog-name {
    // width: 50%;
    font-size: 2em;
    margin: auto auto;
  }
  .frog-overlay {
    width:50%;
    max-width: 100%;
    max-height: auto;
    padding: 1rem 1rem;
    display: grid;
    align-items: center;
    background: rgba(255, 255, 255, 0.375);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);

    &--name {
      display: flex;
    }
  }

  .frog {
    text-align: center;
    margin:0 auto;
  }

  .frog-desc-text {
    font-size: 1.25em;
    text-align: justify;
  }

  .overlay__btn {
    &--frog {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000;
      background: transparent;
      border: 1px solid;
      border-radius: 0.5rem;
      transition: transform 150ms ease;

      &#btn-generate {
      width: 30%;
      height: 30%;
      margin-right: 1em;
      font-size: 1rem;
      }

      &#btn-save {
        width: auto;
        height: 100%;
        padding: 0.5em 1em;
        margin: 0 auto;
        font-size: 1.25rem;
      }

      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
  }
}


  .canvas-frog{
    width: 75%;
    max-width: 1000px;
  }
  
  @media only screen and (max-width: 1000px) {

    .frog-overlay {
      width: 75%;
    }

    .canvas-frog{
      width: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }

  @media only screen and (max-width: 700px) {
    .canvas-frog{
      width: 100%;
      max-width: 100%;
      max-height: 100%;
    }

    .frog-overlay {
      width: 100%;
    }
    .frog-name {
      font-size: 1.25em;
    }

    .frog-desc-text {
      font-size: 1em;
      text-align: justify;
    }

    .overlay__btn {
      &--frog {
        &#btn-generate {
        font-size: 0.875rem;
        }
  
        &#btn-save {
          font-size: 1rem;
        }
  
        &:hover {
          transform: scale(1.05);
          cursor: pointer;
        }
    }
  }
  }
  
  
  
}