<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <meta name="description"
        content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="../css/main.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <script src="../assets/js/libraries/p5.min.js"></script>
    <!-- <script src="../assets/js/libraries/p5.js"></script> -->
    <!-- <script src="../assets/js/libraries/p5.svg.js"></script> -->
    <!-- <script src="../assets/js/libraries/p5.sound.min.js"></script> -->
    <script src="../assets/js/libraries/frog.utils.js"></script>
    <script src="../assets/js/libraries/frog.namegen.js"></script>
    <script src="../assets/js/libraries/ntc.js"></script>
    <script src="../assets/js/frogs.js"></script>
    <script src="assets/js/orbs.js" type="module"></script>

</head>

<!-- Canvas -->
<canvas class="orb-canvas"></canvas>

<body class="frogs-body">
    <div class="frog-overlay">
        <div class="frog-overlay--name">
            <p class="frog-name"></p>
            <button class="overlay__btn--frog" id="btn-generate">Generate<br>a new frog</button>
        </div>
        <div id="frog-sketch" class="frog"></div>
        <button class="overlay__btn--frog" id="btn-save" style="display: none;">Keep this frog</button>
        <div class="frog-desc">
            <h1 class="frog-desc-title"></h1>
            <div class="frog-desc-text"></div>
        </div>
    </div>


</body>